<?xml version="1.0" encoding="utf-8" standalone="yes"?>

<settings>

  <!-- General -->
  
	<category label="General">
    
		<setting id="username" type="text" label="Username" default="" />
    
		<setting id="passkey" type="text" label="Passkey" default="" />

		<setting id="searchfilter" type="text" label="Search Filter" default="" />
  
	</category>
  

</settings>
